.x-list .x-list-disclosure {
	margin-top:39px;
	-webkit-mask-image: url('../images/ico/select.gif') !important;
	-webkit-mask-size: 16px 16px;
	width: 16px;
	height: 16px;
    background-color: #006bb6;
    background-image: -webkit-linear-gradient(top, #0398ff,#007ad0 3%,#005c9d);
}
.x-list .x-list-disclosure:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: ']';
    font-family: 'Pictos';
    color: transparent; 
    font-size: 24px;
    text-align: center;
    line-height: 35px;
    text-shadow: 0 0 0;
}