/*#region cardPanel顶部背景颜色 */
.cardPanel .navigationBar {
    background-color: #262A3B;
    background-image: none;
    border-bottom-color:#262A3B;
    /*height:60px;*/
}
/*#endregion*/

/*#region 底部导航栏 */

.deleteToolbar.x-toolbar-dark {
    border: 0;
    padding: 0;
    margin: 0;
    background-color:#1b78c6;
    background-image: none;
}

.deleteToolbar .x-button {
    border: 0 1px 1px 0;
    border-style: solid;
    border-color: rgb(80, 183, 255);
    background-image: none;
    background-color: rgb(80, 183, 255);
    /*background-image: -webkit-linear-gradient(top, #f91f1f,#e00606 3%,#ae0404);*/
    /*-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	margin:0;
	padding:0;
	color:#6A6A6A;
	background-color:transparent;
	background-image:none;*/
}

    .deleteToolbar .x-button .x-button-label {
        font-weight: normal;
        font-size: .8em;
    }

    /*.deleteToolbar .x-button.x-button-pressing, .deleteToolbar .x-button.x-tabBar-pressing {
        background-color: #DEDEDE;
        background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(0%,#DEDEDE),color-stop(100%,#F6F6F6));
        background-image: linear-gradient(#DEDEDE,#F6F6F6);
        background-image: -webkit-linear-gradient(#DEDEDE,#F6F6F6);
        color: #11598c;
    }*/
/*#endregion*/
/*#region 登录页面top颜色 */
.y-label-top {
    background-color: #1b78c6;
}
/*#endregion*/
/*通讯录listView界面样式*/
.x-indexbar{
    padding: 0.3em 0;
    color: #1b78c6;/*右侧26个英文字母颜色*/
}

.x-msgbox-uuchina.x-msgbox .x-msgbox-title {
	background: #262A3B;/*退出提示框颜色*/
}

.x-dock.x-dock-vertical{
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    /*background-color: #1b78c6;*/
}
/*.x-toolbar .x-button {
    margin: 22px .2em;
    padding: 0 .6em;
}*/