.x-list .x-list-disclosure {
	-webkit-mask: none;
	margin-top:39px;
	-webkit-mask-image: url('../images/ico/select.png') !important;
	-webkit-mask-size: 13px 18px;
	width: 13px;
	height: 18px;
	background-image:none;
}

